<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_v6vwjK0426oBc7qeSreWzYlb"
    data-image="/square-image.png"
    data-name="Afi's Soaps"
    data-description="{{totalQty}} widgets ({{totalPrice}})"
    data-amount="{{totalPrice}}">
  </script>
</form>